section{
    width: 90%;
    height: 90vh;
    background-color:#fff;
    box-shadow: 0 0 5px #ffffff;
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 5vh;
}
img{
    width: 50%;
    border-radius: 200px;
    margin-left: 25%;
    margin-top: 5vh;
    box-shadow: 0 0 5px #25aff2;
}
.icone{
    width: 15%;
    margin-left: 13;
}
section{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   font-size:1px;
   text-transform: uppercase;
   text-align: center;
   color:#333;
}
a{
    color:rgb(190, 2, 2);
    width:90%;
    height: 90px;
}